.schema {
  margin: 10px 0;
}

.schema-header {
  text-align: center;
  height: 40px;
}

.schema:nth-child(odd) {
  .schema-header {
    background: #C4C4C4;
  }
}

.schema:nth-child(even) {
  .schema-header {
    background: #f3f3f3;
  }
}

.schema-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80px;
}
