.components-menu {
  background: #54565F;
  height: 100%;
  grid-column: 3;
  grid-row: 1 / 6;
  border-left: #f3f3f3 groove medium;
  border-radius: 10px;
  width: 320px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  .menu-button {
    width: 145px;
    height: 50px;
    margin: 0;
  }
}
