.page-link {
  width: 210px;
}

.auth {
  margin-top: 75px;
}

.auth-form {
  border-style: outset;
  border-width: 3.5px;
  border-radius: 5px;
  padding: 20px 10px;
  margin-top: 0px;
  position: relative;
}
