.tab-component {
  margin: 5px 0;
}

.tab-component-body {
  display: flex;
  justify-content: flex-start;
  width: 300px;
}

.tab-component-title {
  display: block;
  font-size: 24px;
  width: 100px;
  margin-left: 60px;
  text-align: center;
}
