.bot-menu {
  background: #54565F;
  padding: 10px;
  width: 320px;
  border-right: #f3f3f3 outset medium;
  border-radius: 5px;
  grid-column: 1;
  grid-row: 1 / 6;

  button {
    min-width: 250px;
  }
}

.image-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;

  img {
    display: block;
    height: 250px;
    width: 250px;
  }

  //button {
  //  margin-top: 15px;
  //  background: #16a085;
  //  color: #fff;
  //  width: 300px;
  //  border-bottom: 4px solid #117A60;
  //}
}

.upload {
  top: 30px;
  left: 25px;
  right: 35px;
  position: absolute;
  height: 250px;
  width: 250px;
  z-index: 10;

  input {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  p {
    visibility: hidden;
  }
}

.upload:hover {
  background: #54565F;
  border: 3px dashed #fff;
  opacity: 0.5;

  p {
    margin-top: 100px;
    text-align: center;
    font-family: Arial;
    color: #ffffff;
    visibility: visible;
  }
}

.title-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;

  input {
    width: 250px;
  }
}

.token-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;

  input {
    width: 250px;
  }
}
